
/* Add your CSS below! */


body {
	color: #094F4F;
    text-align: center;
    background-color: #030029;
	font-size:12px;

}

h1 {
	font-family:  Helvetica, sans-serif;
	font-size:45px;
	color: #9E3B33;
}
 
 
a {
   color:  #094F4F;
 }

#canvascontainer{	
	
	margin: 0 auto;	
	/*background-color:  #000000;*/
	width: 660px;
	height:600px;
	cursor: crosshair;
	position: relative;
}

#round-world-view{
	position: absolute;
	width: 660px;
	height: 600px;
	z-index: 1100;
	background-image: url('assets/images/worldview.png');
	/*left:-30px;*/
}
 
#round-world-viewBgLeft{
	position: absolute;
	width: 310px;
	height: 0px;
	z-index: 1050;
	/*left:0px;*/
	background-image: url('assets/images/worldviewBgLeft.png');
	/*left:-30px;*/
}

#round-world-viewBgRight{
	position: absolute;
	width: 310px;
	height: 300px;
	z-index: 1050;
	right: 0;
	background-image: url('assets/images/worldviewBgRight.png');
	/*left:-30px;*/
}

#round-world-viewColorLeft{
	position: absolute;
	width: 310px;
	height: 600px;
	z-index: 1030;
	/*left:0px;*/
	background-image: url('assets/images/worldviewColorLeft.png');
	/*left:-30px;*/
}

#round-world-viewColorRight{
	position: absolute;
	width: 310px;
	height: 600px;
	z-index: 1030;
	right: 0;
	background-image: url('assets/images/worldviewColorRight3.png');
	/*left:-30px;*/
}



#cr-stage { 
	background-color:  #360404;
	color: white;
	left: 30px;	
}


#info { 
	position: absolute;
	background-color:  rgba(218,208,208,0.5);
	color: black;	
	width: 600px;
	/*height: 38px;*/
	
	top: 100px;
	text-align: center;
	font-size: 24px;
	z-index: 1020;
	visibility: visible;

	
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}